<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Private-Event</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
           <%=link_to "Home", root_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to "Login", sessions_login_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
        <li class="nav-item">
          <%=link_to "Sign Up", new_user_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">+Add Event</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
