<h1>Events#index</h1>
<div>
  <ul>
    <%@events.each do |event| %>
      <li>
        <p><%=event.location%></p>
        <p><%=event.date%></p>
        <p class='m-3'><%=event.creator.name%></p>
        </li>
    <%end%>
  </ul>
</div>
<div>
  <%=User.nil?%>
</div>

